##### times_table()

In [16]:
def times_table(number,lenght = 10):
    for times in range(1,lenght+ 1):
        print('{} x {} : '.format(number,times), number* times)

In [17]:
print(times_table(5,10))

5 x 1 :  5
5 x 2 :  10
5 x 3 :  15
5 x 4 :  20
5 x 5 :  25
5 x 6 :  30
5 x 7 :  35
5 x 8 :  40
5 x 9 :  45
5 x 10 :  50
None

In [18]:
times_table(100,5)

100 x 1 :  100
100 x 2 :  200
100 x 3 :  300
100 x 4 :  400
100 x 5 :  500

In [21]:
times_table(3)

3 x 1 :  3
3 x 2 :  6
3 x 3 :  9
3 x 4 :  12
3 x 5 :  15
3 x 6 :  18
3 x 7 :  21
3 x 8 :  24
3 x 9 :  27
3 x 10 :  30

In [4]:
times_table(20,3)

20 x 1 :  20
20 x 2 :  40
20 x 3 :  60

In [13]:
def list_format(list_a):
    class_list2= []
    for name in list_a:
        class_list2.append(name.upper())
    return class_list2

In [6]:
list_format(['dave','luke','chioma'])

['DAVE', 'LUKE', 'CHIOMA']

In [7]:
lis= ['chioma','fred','mike']

In [8]:
list_format(lis)

['CHIOMA', 'FRED', 'MIKE']

In [9]:
class_list2

NameError: name 'class_list2' is not defined

In [32]:
try:
    print("Now computing the result..")
    result = 5 / 0
    print("Computation was completed successfully")
except ZeroDivisionError:
    print("Failed to compute result because you were trying to divide by zero")
    result = None

print(result)

Now computing the result..
Failed to compute result because you were trying to divide by zero
None